body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.keys {
    display: flex;
    justify-content: space-around;
}
.buzzera{
    display: flex;
    flex-direction: column;
}

.across {
    height: 10px;
    width: 100px;
    background: gold;
}
.upright {
    height: 90px;
    width: 10px;
    background: gold;
}

.key {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.down-key {
    display: flex;
    align-items: flex-end;
    flex-direction: reverse-column;
}
.buzzer {
    height: 100px;
    width: 200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.red { background: red; }
.buzzing {background: red;
         color: white;
         font-weight: bold;}
.silent {background: white;}
.blue { background: blue; }
.white { background: white;} 

